[submodule "src/cp_library"]
	path = src/cp_library
	url = https://github.com/schwarzahl/cp_library.git
[submodule "src/atcoder"]
	path = src/atcoder
	url = https://github.com/schwarzahl/atcoder.git
[submodule "src/topcoder"]
	path = src/topcoder
	url = git@github.com:schwarzahl/topcoder.git
